{% extends 'base.html' %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="">
            <h1 class="my-4">Метки</h1>
            <a href="{% url 'labels:create_label' %}"><button type="button" class="btn btn-outline-primary me-2">Создать метку</button></a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                <tr>
                    <td>{{ label.id }}</td>
                    <td>{{ label.name }}</td>
                    <td>{{ label.time_create|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'labels:edit_label' label.id %}">Изменить</a>
                        <br>
                        <a href="{% url 'labels:delete_label' label.id %}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}