<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Менеджер задач{% endblock %}</title>
</head>
<body>
{% if messages %}
    <div>
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Менеджер задач</a></li>
        </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>