{% extends 'base.html' %}

{% block content %}
<div class="container wrapper flex-grow-1">
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Менеджер задач</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Этот менеджер задач позволяет вам устанавливать задачи, назначать исполнителей и изменять их статусы. Для работы с системой требуется регистрация и аутентификация.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="col-md-3 ">
                    {% if user.is_authenticated %}
                    <a href="/logout/"><button type="button" class="btn btn-primary">Выход</button></a>
                    {% else %}
                    <a href="/login/"><button type="button" class="btn btn-outline-primary me-2">Вход</button></a>
                    <a href="/users/create/"><button type="button" class="btn btn-primary mt-3">Регистрация</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}