{% extends 'base.html' %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="">
            <h1 class="my-4">Удаление Задачи</h1>
            <form method="post">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить задачу {{ task.name }}?</p>
                <button type="submit" class="btn btn-danger">Да, удалить</button>
                <a href="{% url 'tasks' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}